/* NavigationBar.css */

.navbar {

    padding: 10px 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
}

.nav-item.active {
    color: #007bff; /* Change to your preferred active color */
    border-bottom: 2px solid #007bff; /* Underline for selected tab */
}

.nav-item:hover {
    color: #007bff; /* Change to your preferred hover color */
}
.user-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust as needed */
}

.right-items {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust as needed */
}

.nav-item-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust as needed */
}
